.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#forecast-card {
    background-color: var(--color-card-forecast);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 60%;
}

#forecast-card table {
    width: 100%;
    border-collapse: collapse;
    color: var(--color-text-forecast);
    text-align: center;
}

#forecast-card th,
#forecast-card td {
    border: 1px solid var(--color-border-forecast);
    padding: 8px;
    text-align: center;
}

#forecast-card th {
    background-color: var(--color-card-forecast);
}

#current-weather-card {
    background-color: var(--color-card-forecast);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 35%;
}

.subtitle {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--color-subtitle);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.status {
    margin-top: 100px !important;
    text-align: center;
}

.sunny, .rain, .snow, .storm, .night {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sunny { left: 141px !important; }
.night { left: 220px !important; }
.rain, .snow, .storm { left: 120px !important; }
