/* COLORS */
/*=====================================*/

:root {
    --status-bg: #808080;
    --status-color: #FFF;
  
    /* Night */
    --night-bg: #000;
    --night-moon: #fff;
    --night-moon-shadow: rgba(0, 0, 0, 0.2);
    --night-star: #fff;
    --night-star-shadow: rgba(255, 255, 255, 0.1);

    /* Rain */
    --rain-bg: #41ba9c;
    --rain-cloud: #ccc;
    --rain-shadow: #000;
    --rain-drop: blue;

    /* Snow */

    --snow-bg: #ccd1d9;
    --snow-cloud: #fff;
    --snow-shadow: #000;
    --snow-flake: #eee;
    --snow-flake-alt: rgba(238, 238, 238, 0);

    /* Storm */
    --storm-bg: #656d78;
    --storm-cloud: #393939;
    --storm-shadow: #000;
    --storm-lightning: yellow;
    --storm-lightning-shadow: rgba(255, 255, 0, 0.4);

    /* Sunny */
    --sunny-bg: #4fc1e9;
    --sunny-sun: #ffe400;
    --sunny-sun-sun: rgba(255, 255, 0, 0.2);
    --sunny-sun-outer: #ffe400;
    --sunny-sun-outer-shadow: rgba(255, 255, 0, 0.1);
    --sunny-sun-inner: #ffee44;
    --sunny-sun-inner-shadow: rgba(255, 255, 0, 1);
    --sunny-shadow: #000;

    /* Other */
    --yellow_20: rgba(255, 255, 0, 0.2);
    --yellow_10: rgba(255, 255, 0, 0.1);
    --white: #ffffff;
    --white_10: rgba(255, 255, 255, 0.1);
    --color_gallery_approx: #eeeeee;
    --blue: blue;
    --color_masala_approx: #3c3b3d;
    --color_picton_blue_approx: #4fc1e9;
    --color_mischka_approx: #ccd1d9;
    --black: #000;
    --color_nevada_approx: #656d78;
    --color_keppel_approx: #41ba9c;
    --gray: #808080;
    --color_turbo_approx: #ffe400;
    --color_gorse_approx: #ffee44;
    --yellow_100: rgba(255, 255, 0, 1);
    --black_20: rgba(0, 0, 0, 0.2);
    --color_tuatara_approx: #393939;
    --yellow: yellow;
    --color_yellow_40_approx: rgba(255, 258, 0, 0.4);
    --color_celeste_approx: #cccccc;
  }

.cardtitle {
    font-weight: 600;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
}

  /* GRID */
/* ===================================== */

.grid-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .grid-item {
    width: 210px;
    margin: 10px;
    background-color: var(--color-card-forecast);
    overflow: hidden;
  }
  
  /* CARD */
  /*=====================================*/
  
  .card {
    position: relative;
    width: 100%;
    padding: 6.5em 1em;
    display: block;
  }
  
  .card:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
  }
  
  .card-night {
    background-color: var(--night-bg);
  }

  .card-rain {
    background-color: var(--rain-bg);
  }

  .card-snow {
    background-color: var(--snow-bg);
  }

  .card-storm {
    background-color: var(--storm-bg);
  }

  .card-sunny {
    background-color: var(--sunny-bg);
  }
  
  /* NIGHT */
  /*=====================================*/
  
  .night {
    animation: night-stars 5s ease-in-out infinite;
    background-color: white;
    border-radius: 50%;
    box-shadow: 
      var(--night-star) 26px 7px 0 -1px, var(--night-star-shadow) -36px -19px 0 -1px, 
      var(--night-star-shadow) -51px -34px 0 -1px, var(--night-star) -52px -62px 0 -1px, 
      var(--night-star) 14px -37px, var(--night-star-shadow) 41px -19px, 
      var(--night-star) 34px -50px, var(--night-star-shadow) 14px -71px 0 -1px, 
      var(--night-star) 64px -21px 0 -1px, var(--night-star-shadow) 32px -85px 0 -1px, 
      var(--night-star) 64px -90px, var(--night-star-shadow) 60px -67px 0 -1px, 
      var(--night-star) 34px -127px, var(--night-star-shadow) -26px -103px 0 -1px;
    height: 4px;
    width: 4px;
    opacity: 1;
    position: absolute;
    left: 90px;
    top: 155px;
  }
  
  .night:before {
    animation: night-moon 9s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: var(--night-moon) -35px 0;
    content: '';
    height: 100px;
    width: 100px;
    position: absolute;
    top: -106px;
    transform: rotate(-5deg);
    transform-origin: 0 50%;
  }
  
  .night:after {
    animation: night-moon 9s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: var(--night-moon-shadow) -5px 0 0;
    content: '';
    height: 100px;
    width: 100px;
    position: absolute;
    top: -106px;
    transform: rotate(-5deg);
    transform-origin: 0 50%;
  }

  /* RAIN */
/*=====================================*/

.rain {
    animation: rain 5s ease-in-out infinite;
    background: var(--rain-cloud);
    border-radius: 50%;
    box-shadow: 
      var(--rain-cloud) 65px -25px 0 -5px, var(--rain-cloud) 25px -25px, 
      var(--rain-cloud) 5px 0 0 2px, var(--rain-cloud) 10px 0 0 2px, 
      var(--rain-cloud) 15px 0 0 2px, var(--rain-cloud) 20px 0 0 2px, 
      var(--rain-cloud) 25px 0 0 2px, var(--rain-cloud) 30px 0 0 2px, 
      var(--rain-cloud) 35px 0 0 2px, var(--rain-cloud) 40px 0 0 2px, 
      var(--rain-cloud) 45px 0 0 2px, var(--rain-cloud) 50px 0 0 2px, 
      var(--rain-cloud) 55px 0 0 2px, var(--rain-cloud) 60px 0 0 2px, 
      var(--rain-cloud) 65px 0 0 2px, var(--rain-cloud) 70px 0 0 2px, 
      var(--rain-cloud) 75px 0 0 2px;
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 40px;
    top: 80px;
  }
  
  .rain:after {
    animation: rain-shadow 5s ease-in-out infinite;
    background: var(--rain-shadow);
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: 5px;
    bottom: -60px;
    transform: scale(0.7);
  }
  
  .rain:before {
    animation: rain-drop 0.7s infinite linear;
    content: '';
    background: transparent;
    margin-left: 0;
    border-radius: 50%;
    display: block;
    height: 6px;
    width: 3px;
    opacity: 0.3;
    transform: scale(0.9);
  }

  /* SNOW */
  /*=====================================*/

  .snow {
    animation: snow 5s ease-in-out infinite;
    background: var(--snow-cloud);
    border-radius: 50%;
    box-shadow: var(--snow-cloud) 65px -25px 0 -5px, var(--snow-cloud) 25px -25px,
      var(--snow-cloud) 5px 0 0 2px, var(--snow-cloud) 10px 0 0 2px,
      var(--snow-cloud) 15px 0 0 2px, var(--snow-cloud) 20px 0 0 2px,
      var(--snow-cloud) 25px 0 0 2px, var(--snow-cloud) 30px 0 0 2px,
      var(--snow-cloud) 35px 0 0 2px, var(--snow-cloud) 40px 0 0 2px,
      var(--snow-cloud) 45px 0 0 2px, var(--snow-cloud) 50px 0 0 2px,
      var(--snow-cloud) 55px 0 0 2px, var(--snow-cloud) 60px 0 0 2px,
      var(--snow-cloud) 65px 0 0 2px, var(--snow-cloud) 70px 0 0 2px,
      var(--snow-cloud) 75px 0 0 2px;
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 40px;
    top: 80px;
  }
  
  .snow::after {
    animation: snow-shadow 5s ease-in-out infinite;
    background: var(--snow-shadow);
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: 8px;
    bottom: -60px;
    transform: scale(0.7);
  }
  
  .snow::before {
    animation: snow-flakes 2s infinite linear;
    content: '';
    border-radius: 50%;
    display: block;
    height: 7px;
    width: 7px;
    opacity: 0.8;
    transform: scale(0.9);
  }

  /* STORM */
  /*=====================================*/

  .storm {
    animation: storm 5s ease-in-out infinite;
    background: var(--storm-cloud);
    border-radius: 50%;
    box-shadow: var(--storm-cloud) 65px -25px 0 -5px, var(--storm-cloud) 25px -25px,
      var(--storm-cloud) 5px 0 0 2px, var(--storm-cloud) 10px 0 0 2px,
      var(--storm-cloud) 15px 0 0 2px, var(--storm-cloud) 20px 0 0 2px,
      var(--storm-cloud) 25px 0 0 2px, var(--storm-cloud) 30px 0 0 2px,
      var(--storm-cloud) 35px 0 0 2px, var(--storm-cloud) 40px 0 0 2px,
      var(--storm-cloud) 45px 0 0 2px, var(--storm-cloud) 50px 0 0 2px,
      #484848 55px 0 0 2px, var(--storm-cloud) 60px 0 0 2px,
      var(--storm-cloud) 65px 0 0 2px, var(--storm-cloud) 70px 0 0 2px,
      var(--storm-cloud) 75px 0 0 2px;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 40px;
    top: 80px;
  }
  
  .storm::after {
    animation: storm-shadow 5s ease-in-out infinite;
    background: var(--storm-shadow);
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: 5px;
    bottom: -60px;
    transform: scale(0.7);
  }
  
  .storm::before {
    animation: storm-lightning 3s steps(1, end) infinite;
    border-right: 7px solid transparent;
    border-top: 33px solid var(--storm-lightning);
    box-shadow: var(--storm-lightning) -2px -30px, var(--storm-lightning-shadow) -2px -30px 10px;
    content: '';
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    left: 57px;
    top: 70px;
    transform: rotate(14deg) scale(0.9);
    transform-origin: 50% -60px;
  }

  /* SUNNY */
  /*=====================================*/

  .sunny {
    animation: sun 9s linear infinite;
    background: var(--sunny-sun);
    border-radius: 100%;
    box-shadow: var(--sunny-sun-outer-shadow) 0 0 5px 5px;
    content: '';
    height: 90px;
    width: 90px;
    position: absolute;
    left: 60px;
    top: 60px;
  }
  
  .sunny::before {
    animation: sun-glow 9s ease-in-out infinite;
    background: var(--sunny-sun-inner);
    box-shadow: var(--sunny-sun-inner-shadow) 0 0 5px 1px;
    border-radius: 100%;
    content: '';
    height: 86px;
    width: 86px;
    position: absolute;
    left: 2px;
    top: 2px;
  }
  
  .sunny::after {
    animation: sun-shadow 9s ease-in-out infinite;
    background: var(--sunny-shadow);
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: -15px;
    bottom: -40px;
    transform: scale(0.7);
  }
  
  /* KEYFRAMES */
  /*=====================================*/
  
  @keyframes night-moon {
    50% {
      transform: rotate(10deg);
    }
  }
  
  @keyframes night-stars {
    50% {
      box-shadow: 
        rgba(255, 255, 255, 0.1) 26px 7px 0 -1px, white -36px -19px 0 -1px, 
        white -51px -34px 0 -1px, rgba(255, 255, 255, 0.1) -52px -62px 0 -1px, 
        rgba(255, 255, 255, 0.1) 14px -37px, white 41px -19px, 
        rgba(255, 255, 255, 0.1) 34px -50px, white 14px -71px 0 -1px, 
        rgba(255, 255, 255, 0.1) 64px -21px 0 -1px, white 32px -85px 0 -1px, 
        rgba(255, 255, 255, 0.1) 64px -90px, white 60px -67px 0 -1px, 
        rgba(255, 255, 255, 0.1) 34px -127px, white -26px -103px 0 -1px;
    }
  }

  @keyframes rain {
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes rain-shadow {
    50% {
      transform: translateY(20px) scale(1);
      opacity: 0.05;
    }
  }
  
  @keyframes rain-drop {
    0% {
      box-shadow: 
        rgba(0, 0, 0, 0) 30px 30px, rgba(0, 0, 0, 0) 40px 40px, 
        var(--rain-drop) 50px 75px, var(--rain-drop) 55px 50px, 
        var(--rain-drop) 70px 100px, var(--rain-drop) 80px 95px, 
        var(--rain-drop) 110px 45px, var(--rain-drop) 90px 35px;
    }
    25% {
      box-shadow: 
        var(--rain-drop) 30px 45px, var(--rain-drop) 40px 60px, 
        var(--rain-drop) 50px 90px, var(--rain-drop) 55px 65px, 
        rgba(0, 0, 0, 0) 70px 120px, rgba(0, 0, 0, 0) 80px 120px, 
        var(--rain-drop) 110px 70px, var(--rain-drop) 90px 60px;
    }
    26% {
      box-shadow: 
        var(--rain-drop) 30px 45px, var(--rain-drop) 40px 60px, 
        var(--rain-drop) 50px 90px, var(--rain-drop) 55px 65px, 
        rgba(0, 0, 0, 0) 70px 40px, rgba(0, 0, 0, 0) 80px 20px, 
        var(--rain-drop) 110px 70px, var(--rain-drop) 90px 60px;
    }
    50% {
      box-shadow: 
        var(--rain-drop) 30px 70px, var(--rain-drop) 40px 80px, 
        rgba(0, 0, 0, 0) 50px 100px, var(--rain-drop) 55px 80px, 
        var(--rain-drop) 70px 60px, var(--rain-drop) 80px 45px, 
        var(--rain-drop) 110px 95px, var(--rain-drop) 90px 85px;
    }
    51% {
      box-shadow: 
        var(--rain-drop) 30px 70px, var(--rain-drop) 40px 80px, 
        rgba(0, 0, 0, 0) 50px 45px, var(--rain-drop) 55px 80px, 
        var(--rain-drop) 70px 60px, var(--rain-drop) 80px 45px, 
        var(--rain-drop) 110px 95px, var(--rain-drop) 90px 85px;
    }
    75% {
      box-shadow: 
        var(--rain-drop) 30px 95px, var(--rain-drop) 40px 100px, 
        var(--rain-drop) 50px 60px, rgba(0, 0, 0, 0) 55px 95px, 
        var(--rain-drop) 70px 80px, var(--rain-drop) 80px 70px, 
        rgba(0, 0, 0, 0) 110px 120px, rgba(0, 0, 0, 0) 90px 110px;
    }
    76% {
      box-shadow: 
        var(--rain-drop) 30px 95px, var(--rain-drop) 40px 100px, 
        var(--rain-drop) 50px 60px, rgba(0, 0, 0, 0) 55px 35px, 
        var(--rain-drop) 70px 80px, var(--rain-drop) 80px 70px, 
        rgba(0, 0, 0, 0) 110px 25px, rgba(0, 0, 0, 0) 90px 15px;
    }
    100% {
      box-shadow: 
        rgba(0, 0, 0, 0) 30px 120px, rgba(0, 0, 0, 0) 40px 120px, 
        var(--rain-drop) 50px 75px, var(--rain-drop) 55px 50px, 
        var(--rain-drop) 70px 100px, var(--rain-drop) 80px 95px, 
        var(--rain-drop) 110px 45px, var(--rain-drop) 90px 35px;
    }
  }

  @keyframes snow {
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes snow-shadow {
    50% {
      transform: translateY(20px) scale(1);
      opacity: 0.05;
    }
  }
  
  @keyframes snow-flakes {
    0% {
      box-shadow: var(--snow-flake-alt) 30px 30px, var(--snow-flake-alt) 40px 40px,
        var(--snow-flake) 50px 75px, var(--snow-flake) 55px 50px,
        var(--snow-flake) 70px 100px, var(--snow-flake) 80px 95px,
        var(--snow-flake) 110px 45px, var(--snow-flake) 90px 35px;
    }
    25% {
      box-shadow: var(--snow-flake) 30px 45px, var(--snow-flake) 40px 60px,
        var(--snow-flake) 50px 90px, var(--snow-flake) 55px 65px,
        var(--snow-flake-alt) 70px 120px, var(--snow-flake-alt) 80px 120px,
        var(--snow-flake) 110px 70px, var(--snow-flake) 90px 60px;
    }
    26% {
      box-shadow: var(--snow-flake) 30px 45px, var(--snow-flake) 40px 60px,
        var(--snow-flake) 50px 90px, var(--snow-flake) 55px 65px,
        var(--snow-flake-alt) 70px 40px, var(--snow-flake-alt) 80px 20px,
        var(--snow-flake) 110px 70px, var(--snow-flake) 90px 60px;
    }
    50% {
      box-shadow: var(--snow-flake) 30px 70px, var(--snow-flake) 40px 80px,
        var(--snow-flake-alt) 50px 100px, var(--snow-flake) 55px 80px,
        var(--snow-flake) 70px 60px, var(--snow-flake) 80px 45px,
        var(--snow-flake) 110px 95px, var(--snow-flake) 90px 85px;
    }
    51% {
      box-shadow: var(--snow-flake) 30px 70px, var(--snow-flake) 40px 80px,
        var(--snow-flake-alt) 50px 45px, var(--snow-flake) 55px 80px,
        var(--snow-flake) 70px 60px, var(--snow-flake) 80px 45px,
        var(--snow-flake) 110px 95px, var(--snow-flake) 90px 85px;
    }
    75% {
      box-shadow: var(--snow-flake) 30px 95px, var(--snow-flake) 40px 100px,
        var(--snow-flake) 50px 60px, var(--snow-flake-alt) 55px 95px,
        var(--snow-flake) 70px 80px, var(--snow-flake) 80px 70px,
        var(--snow-flake-alt) 110px 120px, var(--snow-flake-alt) 90px 110px;
    }
    76% {
      box-shadow: var(--snow-flake) 30px 95px, var(--snow-flake) 40px 100px,
        var(--snow-flake) 50px 60px, var(--snow-flake-alt) 55px 35px,
        var(--snow-flake) 70px 80px, var(--snow-flake) 80px 70px,
        var(--snow-flake-alt) 110px 25px, var(--snow-flake-alt) 90px 15px;
    }
    100% {
      box-shadow: var(--snow-flake-alt) 30px 120px, var(--snow-flake-alt) 40px 120px,
        var(--snow-flake) 50px 75px, var(--snow-flake) 55px 50px,
        var(--snow-flake) 70px 100px, var(--snow-flake) 80px 95px,
        var(--snow-flake) 110px 45px, var(--snow-flake) 90px 35px;
    }
  }

  @keyframes storm {
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes storm-shadow {
    50% {
      transform: translateY(20px) scale(1);
      opacity: 0.05;
    }
  }
  
  @keyframes storm-lightning {
    0% {
      transform: rotate(20deg);
      opacity: 1;
    }
    5% {
      transform: rotate(-34deg);
      opacity: 1;
    }
    10% {
      transform: rotate(0deg);
      opacity: 1;
    }
    15% {
      transform: rotate(-34deg);
      opacity: 0;
    }
  }

  @keyframes sun {
    50% {
      transform: translateY(-20px);
      box-shadow: var(--sunny-sun-sun) 0 0 5px 15px;
    }
  }
  
  @keyframes sun-glow {
    50% {
      box-shadow: var(--sunny-sun-outer-shadow) 0 0 5px 10px;
    }
  }
  
  @keyframes sun-shadow {
    50% {
      transform: translateY(20px) scale(1);
      opacity: 0.05;
    }
  }